In [19]:
DataType:
    1. int
    2. float
    3. str
    4. bool

a1 = '''What's up buddy? 
How are you?
What's new going on'''

SyntaxError: invalid syntax (2752887668.py, line 1)

In [3]:
b1="Nothing new. It's as usual office work"
print(a1+ '\n'+'23: '+ b1)

What's up buddy?
How are you?
What's new going on
23: Nothing new. It's as usual office work

In [14]:
a2="This is my world"
a2.title()+ " " + b1.capitalize()

"This Is My World Nothing new. it's as usual office work"

In [ ]:
Data Structures:
    1. tuple :- Here above a=1,2,3 is Tuple and b=(10,20,30) b is also tuple and this is how it is defined
    2. list  :- 
    3. dictionary

Indexing : a[index] 
    a=(1,22,34,45,56,66)
    22 = a[1]

Slicing: a[startIndex:endIndex+1] 
    1. Last object you are looking should be (end Index + 1 )
    2. If print till last then --> a[startindex:]

In [28]:
a=1,2,3
print(a)
b=(10,20,30)
print(b)
b[1]
b[1],a[2]

(1, 2, 3)
(10, 20, 30)

(20, 3)

In [36]:
a1=(1,2,4,5,6,7,"Ram",True)
a1[3:8]

(5, 6, 7, 'Ram', True)

In [37]:
a1[:-1]

(1, 2, 4, 5, 6, 7, 'Ram')

In [ ]:
List : Just have difference of square bracket [] from round bracket in tuple ()
 Main difference is : Tuple doesnot support item assignment, means we cannot change an item placed at particular index. 
    Either we need to change it completely. On the otherhand we can change items at any index in list[] at ease.

In [42]:
a11=(1,2,3,4,5)
b11=[1,2,3,4,5]
b11[0]=0
b11
a11[0]=112
a11

TypeError: 'tuple' object does not support item assignment

In [71]:
#b11.remove(100)
b11
a12=('12')
a13='Vishal'
a12+a13

'12Vishal'