In [80]:
#Dataframe: This is sturcute that allow us to store data in tabular form. Each column is numpy array.
   # Numpy array is more advance version of python list. It is 4 time faster than a list. Because code is using parallel
  #  computing and threading. 
 #   List: It itself is made up of 4 core types. It store string, integer, float or a tuple.

#Panda : Stores dataframes, it is third party library that stores the dataframes. To use Dataframes we need to import pandas.
# This Notebook is analysis of Netflix Movies and Shows dataset from Kaggle and we are taking reference notebook as : https://www.kaggle.com/code/ajithbharadwaj/netflix-shows-eda
# EDA: Exploratory Data Analysis

In [27]:
    import pandas as pd
    import numpy as np
   # ! pip install pandas #this line to install pandas in anaconda

In [46]:
dataframe = pd.read_csv("netflix_titles.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [48]:
dataframe.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [64]:
d_type,i,c= np.unique(dataframe["release_year"], return_index = True , return_counts= True)
# Display info for TYPE Columns
print("Unique Values of \"Type\" Column: ", d_type)
print("Index Values for \"Type\" Column: ",i)
print("Count of Unique Values for \"Type\" Column: ",c)

# Need to find this for all columns in easy way.

Unique Values of "Type" Column:  [1925 1942 1943 1944 1945 1946 1947 1954 1955 1956 1958 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021]
Index Values for "Type" Column:  [4250 7790 8660 8419 1331 7294 8587 1699 7839 2369 2368  542 5220  177
 5400 2373 1126 6619 5391 6358 6473 5461 2376 5396  716 2491 4551   41
  529 5612   42 1719  175  670  131   43  166  303  155   44  579  139
  144  145  160    7   67  253   22   26   24  150  180   48   51   52
   53   61   62   59   57   58   27   56   46   28   50   69  104   38
   21   87    0    1]
Count of Unique Values for "Type" Column:  [   1    2    3    3    4    2    1    2    3    2    3    1    4    1
    3    2    2    2    1    5    3    2    2    5    5   10    7    7
    9    7    7   11   11   13   17   11   12   10   13    8   18   16
   22   17   23   28   22   25   24   38   36   39   37   45   51   61
   64   80   96   88  136  152  194  185  237  288  352  560  902 1032
 1147 1030  953  592]

In [66]:
dataframe.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [68]:
dataframe.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [71]:
dataframe["director"].unique()

array(['Kirsten Johnson', nan, 'Julien Leclercq', ..., 'Majid Al Ansari',
       'Peter Hewitt', 'Mozez Singh'], dtype=object)

In [73]:
dataframe.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [78]:
# Here we can transpose our Column like we are doing below

dataframe.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,8807.0,2014.180198,8.819312,1925.0,2013.0,2017.0,2019.0,2021.0

In [79]:
# We can use the transposed columns as well
dataframe.describe().T["count"]

release_year    8807.0
Name: count, dtype: float64

In [89]:
# Find Missing values in Data or finding NA values

dataframe.isna()
dataframe.isna().sum() # Values for each columns says that this number of missing values are there.

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [94]:
# Taking a dataframe where NA(null) values are removed
na_data_removed=dataframe.dropna()
na_data_removed.shape

(5332, 12)

In [96]:
# Here we can see the difference that comes in the available data if we remove all those rows thta have null values or NA values
dataframe.shape

(8807, 12)

In [98]:
# Taking a dataframe where NA(null) values are removed based on Columns if they are null
na_data_removed_col=dataframe.dropna(axis=1)
na_data_removed_col.shape

(8807, 6)

In [103]:
# We can't drop more than 8%-10% data
# We need to fill NA by 0s 

na_data_fill=dataframe.fillna(0)
na_data_fill.shape

(8807, 12)

In [104]:
# Values for each columns says that this number of missing values are there when we fill it with fillna()
# Now we will get no missing values
na_data_fill.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [106]:
na_data_fill.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,0,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,0,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",0,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,0,0,0,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,0,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [116]:
# We can't drop more than 8%-10% data
# We need to fill NA by filling values using : pad/ffill: propagate last valid observation forward
# backfill/bfill: Use next valid observation to fill gap

na_data_backfill=dataframe.fillna(method='bfill')
na_data_backfill.shape

(8807, 12)

In [117]:
na_data_backfill.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Julien Leclercq,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",India,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Mike Flanagan,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Mike Flanagan,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [118]:
# If sometimes ffill that fill values of previous valid result to next NA. In case where it is the first record in the 
# column records then we need to fill by adding fillna(method = 'bfill')
# We need to fill NA by filling values using : pad/ffill: propagate last valid observation forward
# backfill/bfill: Use next valid observation to fill gap

na_data_ffill=dataframe.fillna(method='ffill')
na_data_ffill.isna().sum()

show_id         0
type            0
title           0
director        0
cast            1
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [121]:
# If sometimes ffill that fill values of previous valid result to next NA. In case where it is the first record in the 
# column records then we need to fill by adding fillna(method = 'bfill')
# We need to fill NA by filling values using : pad/ffill: propagate last valid observation forward
# backfill/bfill: Use next valid observation to fill gap

na_data_ffill=dataframe.fillna(method='ffill').fillna(method='bfill')
na_data_ffill.isna().sum()
na_data_ffill.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Kirsten Johnson,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",South Africa,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",South Africa,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Julien Leclercq,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [127]:
# Below will remove the duplicates when show_id, cast and director is same in different record and identify then as Duplicates
drop_duplicates= dataframe.drop_duplicates(subset=['cast','director'])
print(dataframe.shape,drop_duplicates.shape)

(8807, 12) (8259, 12)

In [136]:
# Dictionaries : They have below arrangement
# dataframe = { key:value, key:value, key:value}
# Here Show_id, type and title act as column headers and each element as row record
netflix_data= { "show_id":[1,2,3] , "type" : ["M" ,"T" , "M"], "title": ["A", "B", "C"]}

In [135]:
netflix_data["type"][2]

'M'